<ion-modal>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot = "start">
        <ion-button (click)="closeModal()">Close</ion-button>
      </ion-buttons>
      <ion-title id = "workout-name"></ion-title>
      <ion-buttons slot = "end">
        <ion-button (click)="startWorkout()" [strong]="true">Start Workout</ion-button>
        <ion-button (click)="editWorkout()" [strong]="true">Edit Workout</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class = "exercises">
    <div *ngFor="let exercise of exerciseArr" class = "exercise-container">
      <div class = "centerContainer">
        <ng-container>
        <ion-item>
          <ion-label> {{exercise.exercise_name}} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Reps: {{exercise.rep_range}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Sets: {{exercise.sets}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Current weight: {{exercise.current_weight}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Goal weight: {{exercise.goal_weight}}</ion-label>
          <ion-label></ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Notes:</ion-label>
          <ion-textarea> {{ exercise.notes}} </ion-textarea>
        </ion-item>
        <p *ngIf="exerciseError" class = "error-message">Couldnt get or save exercises, try again</p>
        </ng-container>
      </div>
    </div>
  </ion-content>
</ion-modal>