<ion-content>
  <div class = "flex-center">
    <ion-card class = "login-card">
      <ion-card-header>
        <ion-card-title color = "danger">MyGym App</ion-card-title>
        <ion-card-subtitle color = "dark">Your Gym Companion</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <form (ngSubmit)="onLogin()">
          <ion-item class = "login-card">
            <ion-label position = "floating">Username or Email</ion-label>
            <ion-input [(ngModel)]="usernameOrEmail" name="email" type = "text" required></ion-input>
          </ion-item>
          <ion-item class = "login-card">
            <ion-label position = "floating">Password</ion-label>
            <ion-input [(ngModel)]="password" name = "password" type="password" required></ion-input>
            <p *ngIf="userError" class = "error-message">Invalid username or password</p>
            <p *ngIf="serverError" class = "error-message">Server Error</p>
          </ion-item>
          <br>
          <ion-button color = "dark" fill = "clear" size = "full" (click)="onForgotPassword()">Forgot Password?</ion-button>
          <ion-button type = "submit" color = "danger" size = "full">Login</ion-button>
          <ion-button color = "danger" fill = "clear" size = "full" (click)="onRegister()">Register</ion-button>
      </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
