<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id = "welcome-user"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" overflow-scroll="true">
  <div id = "flex-center">
    <ion-card class = "workout-card">
      <ion-button color = "danger" class = "workout-button">
        <div class = "workout-div">
          <div class = "left">
            <ion-label class = "workout-name">Legs</ion-label>
          </div>
          <div class = "center">
            <ion-label class = "workout-date">Last workout: <br> 04/04/2025</ion-label>
          </div>
          <div class = "right">
            <ion-button shape = "round">
              <ion-icon slot = "icon-only" name="pen-sharp"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-button>
    </ion-card>
    <ion-button shape = "round" (click)="createWorkout()" id= "add-new-workout"> 
      <ion-icon slot= "icon-only" name="add-sharp"></ion-icon>
    </ion-button>
    </div>
    <router-outlet></router-outlet>
  </ion-content>
  
  <app-global-tab></app-global-tab>