<ion-content>
  <div class = "flex-center">
    <ion-card class = "login-card">
        <ion-card-header>
            <ion-card-title color = "danger">MyGym</ion-card-title>
            <ion-card-subtitle color = "dark">Get started with your Gym Companion</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <form (ngSubmit)="onRegister()">
            <ion-item class = "login-card">
                <ion-label position = "floating">Username</ion-label>
                <ion-input [(ngModel)]="username" name = "username" type="text" required></ion-input>
              </ion-item>
            <ion-item class = "login-card">
              <ion-label position = "floating">Email</ion-label>
              <ion-input [(ngModel)] = "email" name = "email" type="email" required></ion-input>
            </ion-item>
            <ion-item class = "login-card">
              <ion-label position = "floating">Password</ion-label>
              <ion-input [(ngModel)]="password" name= "email" type="password" required></ion-input>
              <p *ngIf="userExistsError" class = "error-message">User already exists</p>
              <p *ngIf="userError" class = "error-message">Invalid username, email or password</p>
              <p *ngIf="serverError" class = "error-message">Server error</p>
            </ion-item>
            <br>
            <br>
            <ion-button type = "submit" color = "danger" size = "full">Create Account</ion-button>
            <ion-button color = "danger" fill = "clear" size = "full" (click)="onLogin()">Login</ion-button>
          </form>
        </ion-card-content>
    </ion-card>
  </div>
</ion-content>
