.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
ion-button[color="danger"]{
    text-transform: initial;
}
ion-content{
    --background: var(--ion-color-danger);
}
.login-card{
    --background: beige;
}
.error-message{
    color: red;
    display: none;
    font-size: 0.8em;
}